// app global css in Stylus form
#cf-footer{
	.q-btn{
		font-weight:normal;
		&.active{
			font-weight:bold;
		}
	}
}
.q-toolbar{
	text-transform:capitalize;
}

#home_page{
	.list-pokemon-box{
		height:100%;
		width:100vw;
		overflow:hidden;
		overflow-y:visible;
		a{
			text-decoration:none;
			.pokeList{
				color:#333;
				text-decoration:none;
				padding:10px;
				border:1px solid #333;
				p{
					margin:10px 0px;
				}
			}
		}
	}
}

#list_page{
	.list-pokemon-box{
		height:100%;
		width:100vw;
		overflow:hidden;
		overflow-y:visible;
		.pokeList{
			color:#333;
			text-decoration:none;
			padding:10px;
			border:1px solid #333;
			padding-bottom: 50px;
			p{
				margin:10px 0px;
			}
		}
	}
}

#details_page{
	.details{
	    height: calc(100vh - 36px - 180px - 50px);
	    overflow: hidden;
	    overflow-y: visible;
	}
}